<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>API Documentation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body style="background-color: rgb(238, 238, 238)">
    <div id="header">
      <h1>Thriftshop API Documentation</h1>
    </div>
    <div id="listings">
      <h2>Get all listings with endpoint /listings</h2>
    </div>
    <div id="listingsById">
      <h2>Get listing by id with endpoint /listings/{id}</h2>
    </div>
    <div id="categorys">
      <h2>Get all categorys with endpoint /categorys</h2>
    </div>
    <div id="categorysById">
      <h2>Get category by id with endpoint /categorys/{id}</h2>
    </div>
  </body>
</html>
